body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #0f0f0f, #8b0000);
    display: flex;
    justify-content: center;
}

.home-container {
    background: white;
    max-width: 800px;
    margin: 60px auto;
    padding: 50px 60px;
    border-radius: 20px;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
}

/* TÍTULO */
.home-container h1 {
    text-align: center;
    margin-bottom: 40px;
}

/* TÓPICOS */
.home-container h2 {
    margin-top: 50px;
    padding-bottom: 10px;
    border-bottom: 2px solid black; /* linha preta */
}

/* PARÁGRAFOS */
.home-container p {
    line-height: 1.6;
    margin-top: 15px;
}

/* LISTAS */
.home-container ul {
    margin-top: 15px;
    padding-left: 20px;
}
