body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #2b0000, #b30000);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* CARD PRINCIPAL */
.home-container {
    background: #e9e9e9;
    width: 650px;
    padding: 50px 60px;
    border-radius: 20px;
    box-shadow: 0 25px 60px rgba(0, 0, 0, 0.4);
}

/* BOAS-VINDAS */
.boas-vindas {
    text-align: center;
    margin-bottom: 35px;
}

.boas-vindas h1 {
    margin-bottom: 15px;
}

.boas-vindas p {
    font-size: 14px;
    color: #333;
}

/* CADA SEÇÃO */
.secao {
    border-top: 1px solid #bdbdbd;
}

/* TÍTULO CLICÁVEL */
.titulo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 0;
    font-weight: 600;
    cursor: pointer;
}

/* HOVER */
.titulo:hover {
    color: #8b0000;
}

/* CONTEÚDO ESCONDIDO */
.conteudo {
    display: none;
    padding-bottom: 20px;
    font-size: 14px;
    color: #333;
}

/* LISTAS */
.conteudo ul {
    padding-left: 20px;
}
