* {
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100vh;
    font-family: Arial, sans-serif;
    background: radial-gradient(circle at top, #8b0000, #0f0f0f);

    /* Fundo preto + vermelho */
    background: linear-gradient(135deg, #0f0f0f, #8b0000);

    display: flex;
    justify-content: center;
    align-items: center;
}

/* Card branco */
.container {
    background-color: #ffffff;
    padding: 45px;
    width: 400px;

    border-radius: 22px;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);

    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* Título */
.container h1 {
    text-align: center;
    margin-bottom: 10px;
}

/* Inputs */
input {
    padding: 15px;
    font-size: 20px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

/* Botão */
button {
    padding: 18px;
    font-size: 20px;
    border: none;
    border-radius: 6px;

    background-color: #8b0000;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #a30000;
}

/* Mensagem */
#mensagem {
    text-align: center;
    font-weight: bold;
}
.secao {
    border-top: 1px solid #ddd;
    padding: 10px 0;
}

.titulo {
    font-weight: bold;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
}

.conteudo {
    display: none;
    margin-top: 10px;
}
.home-container {
    background: white;
    max-width: 700px;
    padding: 40px;
    border-radius: 16px;
    box-shadow: 0 15px 40px rgba(0,0,0,0.4);
}

.subtitulo {
    text-align: center;
    margin-bottom: 30px;
    color: #444;
}
.boas-vindas {
    text-align: center;
    margin-bottom: 35px;
}

.boas-vindas h1 {
    margin-bottom: 10px;
}

.boas-vindas p {
    color: #444;
    font-size: 15px;

}




