* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #0f0f0f, #8b0000);
}

/* Card branco */
.container {
    background-color: #ffffff;
    padding: 35px;
    width: 320px; /* menor e proporcional */

    border-radius: 20px;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);

    display: flex;
    flex-direction: column;
    gap: 15px;
}

/* Título */
.container h1 {
    text-align: center;
    margin-bottom: 15px;
    font-size: 22px;
}

/* Inputs */
input {
    padding: 12px;
    font-size: 14px; /* tamanho correto */
    border-radius: 6px;
    border: 1px solid #ccc;
}

/* Botão */
button {
    padding: 12px;
    font-size: 14px; /* menor */
    border: none;
    border-radius: 6px;

    background-color: #8b0000;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #a30000;
}
.home-container {
    max-width: 900px;
    margin: 40px auto;
    padding: 20px;
    color: white;
}

.boas-vindas h1 {
    font-size: 32px;
}

.secao {
    margin-top: 20px;
}

.titulo {
    cursor: pointer;
    font-weight: bold;
    margin-bottom: 5px;
}

.conteudo {
    display: none;
    margin-bottom: 10px;
}

