* {
    box-sizing: border-box;
}

/* ===== BODY ===== */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #0f0f0f, #8b0000);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* ===== CARD ===== */
.home-container {
    background: #f2f2f2;
    width: 320px;
    padding: 40px 30px;
    border-radius: 25px;
    box-shadow: 0 25px 60px rgba(0, 0, 0, 0.5);
    text-align: center;
}

/* ===== TÍTULO ===== */
.home-container h1 {
    margin-bottom: 30px;
}

/* ===== INPUTS ===== */
.home-container input {
    display: block;
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 14px;
    outline: none;
    transition: 0.3s;
}

.home-container input:focus {
    border-color: #8b0000;
    box-shadow: 0 0 5px rgba(139, 0, 0, 0.4);
}

/* ===== BOTÃO ===== */
.home-container button {
    display: block;
    width: 100%;
    padding: 12px;
    background-color: #8b0000;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 15px;
    cursor: pointer;
    transition: 0.3s;
}

.home-container button:hover {
    background-color: #a00000;
}

/* ===== MENSAGEM ===== */
#mensagem {
    margin-top: 15px;
    font-size: 14px;
}
