* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #0f0f0f, #8b0000);
}
.container {
    background: white;
    width: 350px;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 20px 50px rgba(0,0,0,0.5);

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/* ===== CARD CENTRAL (HOME) ===== */
.home-container {
    background: #ffffff;
    max-width: 800px;
    margin: 60px auto;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
}

/* Texto interno da home */
.home-container p {
    color: #333;
    line-height: 1.6;
}

/* Título principal */
.boas-vindas h1 {
    text-align: center;
    margin-bottom: 10px;
}

/* ===== SEÇÕES ===== */
.secao {
    margin-top: 25px;
    border-top: 1px solid #ddd;
    padding-top: 15px;
}

.titulo {
    font-weight: bold;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.titulo:hover {
    color: #8b0000;
}

.conteudo {
    display: none;
    margin-top: 10px;
}

/* ===== CADASTRO ===== */
.container {
    background-color: #ffffff;
    padding: 35px;
    width: 320px;
    border-radius: 20px;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);

    margin: 80px auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.container h1 {
    text-align: center;
    margin-bottom: 15px;
    font-size: 22px;
}

input {
    padding: 12px;
    font-size: 14px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

button {
    padding: 12px;
    font-size: 14px;
    border: none;
    border-radius: 6px;
    background-color: #8b0000;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #a30000;
}

